# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env
.venv

# Django
*.sqlite3
db.sqlite3
*.log
local_settings.py
media/
staticfiles/

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Testing
.coverage
.pytest_cache/
htmlcov/
*.xml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
qwms/erp_connector/__pycache__/models.cpython-312.pyc
qwms/db.sqlite3
qwms/erp_connector/__pycache__/models.cpython-312.pyc
